devicetypes/belgarion/amcrest-camera.src/amcrest-camera_GitHub.groovy
devicetypes/belgarion/amcrest-camera.src/amcrest-camera_LIVE.groovy
devicetypes/belgarion/amcrest-camera.src/amcrest-camera_PRE-20160815.groovy